/*selecting by id*/
#mainLogoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    
  }
body {
    background-color: black;
    }
.mainForm {
    width: 400px;
    margin: auto;
    /*background-color: aliceblue;*/
}
label {
    color: white;
}
.MainName {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    text-align: center;
    color: white;
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;

}
#submitButton{
    width: 75%;
    margin: auto;
    border-radius: 4px;
}
#smallText{
    color: white;
    margin: auto;
}
/* for animation */

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}